
<div>
    <input type="hidden" value="%idMarque%">
    <section>
        <article>
            Nom :<input type="text" value="%nomMarque%">
            Texte :<input type="textarea" value="%content%">
            Lien :<input type="text" value="%marqueLien%">
        </article>
        <article>
            Logo :<img src="../../bundles/EuroLiteriestructure/images/marques/%pngUrl%"></img>
            <section class="btn-admin">
                <li>Modifier</li>
            </section>
        </article>
    </section>
    <section class="btn-admin">
        <li>Mettre à jour</li>
    </section>
    <section class="btn-admin">
        <li>Supprimer</li>
    </section>
</div>
