<div class="menuI">
    <section>
        <li>Rechercher</li>
    </section>
    <section>
        <li>Ajouter</li>
    </section>
    <section>
        <li>Atteindre la page</li>
    </section>
</div>
<div class="contentI">
    <p>Coucou !!!</p>
</div>
