

{%extends 'yomaahBundle:Main:base.html.twig' %}

{%block body%}

<div class="small-12 columns marge">
    <div class="article art-pdf border-article marge">
        <div class="art-titre">Mon C.V.</div>
        <div class="art-png"><img src="{{asset('bundles/yomaah/images/cv.png')}}"></img></div>
        <div class="art-triangle"></div>
        <div class="art-date">25/11/2013</div>
        <section class="art-content"><br/>Vous trouverez ci-dessous mon Curriculum Vitae :</section>
        <embed src="{{ asset('bundles/yomaah/images/CV.pdf')}}"></embed>
    </div>
</div> 







{%endblock%}
