

{%extends 'yomaahBundle:Main:base.html.twig' %}

{%block body%}

<div class="small-12 columns marge">
    <div class="article art-pdf border-article marge">
        <article class="art-titre"><h1>Mon C.V.</h1></article>
        <article class="art-png"><img src="{{asset('bundles/yomaah/images/cv.png')}}"></img></article>
        <article class="art-triangle"></article>
        <article class="art-date">25/11/2013</article>
        <section class="art-content"><br/>Vous trouverez ci-dessous mon Curriculum Vitae :</section>
        <embed src="{{ asset('bundles/yomaah/images/CV.pdf')}}"></embed>
    </div>
</div> 







{%endblock%}
